.container {
  text-align: center;
  background-color: #fff;
  width: 340px;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  margin: 120px auto;
  padding: 12px 14px;
  border-radius: 4px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
form {
  text-align: center;
  display: inline-block;
  width: 300px;
  height: 470px;
  margin: 40px auto;
}
input {
  margin: 10px 0px;
  padding: 4px 6px;
  width: 240px;
}

#submit {
  width: 120px;
  height: 36px;
  margin-top: 15px;

  background-color: #2ed573;
  border: none;
  border-radius: 3px;
}
#submit:hover {
  color: #fff;
  background-color: #000;
  transition: 0.4s ease;
}
