{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'signup.css' %}" />
    <title>PlaceUp | Signup</title>
  </head>

  <body>
    <div class="container">
      <h2 style="margin-bottom: -40px; padding: 14px 22px; font-size: 20px">
        Register your Company
      </h2>
      <form method="POST" action="">
        {% csrf_token %}

        <input type="text" name="cname" id="fname" placeholder="Company Name" />

        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email address"
        />

        <input
          type="password"
          name="pass1"
          id="password"
          placeholder="Password"
        />

        <input
          type="password"
          name="pass2"
          id="password"
          placeholder="Confirm Password"
        />

        <select name="type">
            <option selected>Select Company type</option>
            <option value="Service">Service Based</option>
            <option value="Product">Product Based</option>
            <option value="Startup">Startup </option>

        </select>

        <select name="typeone">
            <option selected>Select Company Specialization</option>
            <option value="Web and Android Development">Web and Android Development</option>
            <option value="Internet of Things">Internet of Things</option>
            <option value="Cloud Computing">Cloud Computing</option>
            <option value="Data Science , ML and AI">Data Science , ML and AI</option>
            <option value="Business and Marketing">Business and Marketing</option>
            <option value="Hardware Development">Hardware Development</option>
        </select>



        {% if msg %}
        <span class="msg" style="color: {{c}};font-size: 13px;">{{msg }}</span>
        {% endif %} {% if msg_pass %}
        <span class="msg" style="color: red; font-size: 13px"
          >{{ msg_pass }}</span
        >
        {% endif %}
        <br />

        <input type="submit" name="Submit" id="submit" />
        <p style="font-size: 14px; text-align: center">
          Already registered ?? <a href="{% url 'orgsignin' %}">Login here</a>
        </p>
      </form>
    </div>
  </body>
</html>
