{% extends 'social/dashboard.html' %}
{% block head %}
<title>DevHub | Certifications</title>
{% endblock head %}
{% block css %}
.wrap{
width:60%;
height:auto;
margin:0px auto;
padding-top: 50px;
}
.parent{
display: flex;
justify-content:center;

}
.parent-two{
display: flex;
justify-content:center;

}
.div1,.div2{
height:200px;
width:100%;
margin:20px;
}
.child1,.child2{
height:200px;
width:100%;
margin:20px;
}
.modal {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
opacity: 0;
visibility: hidden;
transform: scale(1.1);
transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
padding: 1rem 1.5rem;
width: 24rem;
border-radius: 2px;
}
.close-button {
float: right;
width: 1.5rem;
line-height: 1.5rem;
text-align: center;
cursor: pointer;
border-radius: 0.25rem;
background-color: ;
}
.close-button:hover {
background-color: darkgray;
}
.show-modal {
opacity: 1;
visibility: visible;
transform: scale(1.0);
transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
opacity: 0;
visibility: hidden;
transform: scale(1.1);
transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
padding: 1rem 1.5rem;
width: 24rem;
border-radius: 2px;
}
.close-button {
float: right;
width: 1.5rem;
line-height: 1.5rem;
text-align: center;
cursor: pointer;
border-radius: 0.25rem;
background-color: ;
}
.close-button:hover {
background-color: darkgray;
}
.show-modal {
opacity: 1;
visibility: visible;
transform: scale(1.0);
transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


@media only screen and (max-width: 600px) {
.parent{
display: flex;
flex-direction: column;
}
.parent-two{
display: flex;
flex-direction: column;
}
.child2{
margin-top:-22px;
}
.div2{
margin-top:-90px;
height:210px;


}
.div1{
height:60px;
padding-right:120px;

}
#edit{
margin-left:4px;
<!-- padding-top:-40px!important; -->

}
#edit-btn{
background-color:transparent;
border:none;
margin-top:0px!important;
outline:none;

}
hr{
display:none;
}
}

#edit-btn{
background-color:transparent;
border:none;
outline:none;
height:40px;
margin-top:100px;
}


input,select{
margin: 10px 14px;
padding: 4px 6px;
width: 300px;

/*margin-left: 30px;*/
}

{% endblock %}


{% block body %}
<nav class="main_nav">
    <div class="left">
        <h2>devHub</h2>
    </div>
    <div class="right"></div>
</nav>
<div class="wrap">




   
    <h1 style="margin-top: 30px;font-size: 24px;margin-right: 10px;">Certificates</h1>

    <div class="trigger" style="margin-top:-36px; margin-left: 0px;float: right;">
        <button
            style="border: none;background-color: tomato;height: 35px;padding: 4px 8px;width: 60px;border-radius: 2px;box-shadow: 4px 4px 15px rgba(0,0,0,0.2);margin-left: 30px!important;">Add
        </button>

    </div>
    <div class="parent-two" style="margin-top: 30px;">
        <div class="child1">
            {% if c %}
            {% for cer in c %}
            <div style="margin-bottom: 10px;">
                <p style="font-size: 18px;"><b>{{cer.name}} 🏅</b></p>
                <span style="font-size: 14px;color: grey;">{{cer.organisation}} on {{cer.month_name}}
                    {{cer.year}}</span><br>
                <a href="{{cer.url}}" style="font-size: 13px;color: blue;">See Certificate</a>
                <p>
                    <a href="{% url 'edit_certification' id=cer.id %}" id="edit" style="padding-bottom: 12px;"><i
                            class="far fa-edit"></i></a>&nbsp;&nbsp;
                    <a href="{% url 'delete_certification' id=cer.id %}" id="edit" style="padding-bottom: 12px;"><i
                            class="far fa-trash-alt"></i></a>
                </p>
            </div>

            {% endfor %}

        </div>

        {% else %}
        <p>No certifications yet ??</p>
        {% endif %}
    </div>
</div>





<div class="modal">
    <div class="modal-content">
        <span class="close-button">×</span>
        <h3 style="margin-bottom: 20px;margin-top: 20px;">Add Certification &nbsp;<i class="far fa-edit"></i></h3>
        <form method="POST" action="{% url 'add_certification' %}">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Certification Name">
            <input type="text" name="organisation" placeholder="Organisation Name">
            <select id="level" name="month">
                <option value="Jan">Select</option>


                <option value="Jan">January</option>
                <option value="Feb">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="Aug">August</option>
                <option value="Sept">September</option>
                <option value="Oct">October</option>
                <option value="Nov">November</option>
                <option value="Dec">December</option>
                <input type="text" name="year" placeholder="Year">
                <input type="url" name="url" placeholder="Certificate URL">

                <!-- <input type="text" name="name" placeholder="Skill Name" > -->




            </select>

            <input type="submit" name="submit" value="Save"
                style="background-color: tomato;border: none;padding: 0px 12px;height: 35px;border-radius: 2px;">

        </form>
    </div>
</div>


</div>
<script type="text/javascript">

    var modal = document.querySelector(".modal");
    var trigger = document.querySelector(".trigger");
    var closeButton = document.querySelector(".close-button");

    function toggleModal() {
        modal.classList.toggle("show-modal");
    }

    function windowOnClick(event) {
        if (event.target === modal) {
            toggleModal();
        }
    }

    trigger.addEventListener("click", toggleModal);
    closeButton.addEventListener("click", toggleModal);
    window.addEventListener("click", windowOnClick);


</script>

{% endblock %}