{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Home</title>
</head>
<body>
    <nav>
        
    </nav>
    <div class="header">
        <div class="landing">
            <div class="content">
                <h2>Welcome To DevHub</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolorem exercitationem ullam ratione eligendi quos velit, nam illo iure perferendis dolor modi similique, nostrum repudiandae sunt tempora quaerat assumenda quis.</p>
            </div>
            <div class="image">

            </div>
        </div>
    </div>
</body>
</html>