{% extends 'social/dashboard.html' %}

{% block head %}
<title>DevHub | My Profile</title>
{% endblock head %}
{% block css %}
.wrap{
width:65%;
height:auto;
margin:0px auto;
padding-top: 50px;
}
.parent{
display: flex;
justify-content:center;

}
.parent-two{
display: flex;
justify-content:center;

}
.div1,.div2{
height:200px;
width:100%;
margin:20px;
}
.child1,.child2{
height:auto;
width:100%;
margin:20px;
}
.modal {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
opacity: 0;
visibility: hidden;
transform: scale(1.1);
transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
padding: 1rem 1.5rem;
width: 24rem;
border-radius: 2px;
}
.close-button {
float: right;
width: 1.5rem;
line-height: 1.5rem;
text-align: center;
cursor: pointer;
border-radius: 0.25rem;
background-color: ;
}
.close-button:hover {
background-color: darkgray;
}
.show-modal {
opacity: 1;
visibility: visible;
transform: scale(1.0);
transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

@media only screen and (max-width: 600px) {
.parent{
display: flex;
flex-direction: column;
width:100%;
}
.parent-two{
display: flex;
flex-direction: column;
}
.child2{
margin-top:-20px;
}
.div2{
margin-top:-90px;
height:210px;


}
.div1{
height:60px;
padding-right:120px;

}
#edit{
margin-left:250px;

}
#edit-btn{
background-color:transparent;
border:none;
margin-top:0px!important;
outline:none;

}
hr{
display:none;
}
.wrap{
width:75%;
height:auto;
margin:0px auto;
padding-top: 50px;
}
.kk{
margin-left:25px;
}
}

#edit-btn{
background-color:transparent;
border:none;
outline:none;
height:40px;
<!-- background:red; -->

margin-top:100px;
}


input,textarea,select{
margin: 8px 14px;
padding: 4px 6px;
width: 300px;

/*margin-left: 30px;*/
}
select{
width:300px;
}
.main_nav{

/* margin: 0 20px; */
padding: 18px 70px;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
width: 100%;
height: auto;

}

.resume{
	margin:20px 0px;

font-size:19px;
font-weight:500;
}
.resume div a{
	border:2px solid #000;
	padding:2px 10px;
	color:#000;
	box-shadow:4px 4px 6px rgba(0,0,0,0.1);
	text-decoration:none;
	border-radius:3px;
	margin-right:15px;
	transition:0.3s ease-in;
}
.resume div a:hover{
	
	color:#fff;
	background:#000;


}

{% endblock %}


{% block body %}
<nav class="main_nav">
	<div class="left">
		<h2>devHub</h2>
	</div>
	<div class="right"></div>
</nav>
<div class="wrap">


	<h1 class="kk">Profile </h1>
	<div class="parent">
		<div class="div1">
			<h1
				style="border-radius: 50%;width:80px;height: 80px;margin: 30px auto;border: 2px solid #000;padding-top: 15px;padding-left: 15px;margin-top: 45px;">
				{{d.icon}}</h1>
		</div>
		<div class="div2" style="margin-top: 70px;">
			<h2>{{ d.name }}</h2>
			<span style="font-weight: 550;color: rgba(0,0,0,0.6);">{{p.college_branch}} | {{p.college_year}} year</span>
			<p style="margin-top: 6px;margin-left: ; font-size: 22px;"><a href="{{p.fb}}" style="color: #000;"><i
						class="fab fa-facebook"></i></a>

				<a href="{{p.git}}" style="color: #000;"><i class="fab fa-github"></i></a>
				<a href="{{p.hacker}}" style="color: #000;"><i class="fab fa-hackerrank"></i></a>
			<p style="font-size: 13px;margin-top: 6px;"><b>Connections : {{following}}</b></p>
			</p>
			<p style="margin-top: 5px;">{{p.bio}}</p>
			<button
				style="margin-top: 15px; background-color: tomato;padding: 6px 4px;width: 100px;border:none;border-radius: 3px;box-shadow: 4px 4px 20px rgba(0,0,0,0.1);">Follow</button>
		</div>

		<!-- Profile Edit Dynamic -->

		<button id="edit-btn" class="trigger"><a id="edit"><i class="far fa-edit"
					style="font-size: 16px;"></i></a></button>
		<div class="modal">
			<div class="modal-content">
				<span class="close-button">×</span>
				<h3 style="margin-bottom: 20px;">Edit Profile &nbsp;<i class="far fa-edit"></i></h3>
				<form method="POST" action="{% url 'update_profile' %}">
					{% csrf_token %}
					<!-- <input type="url" name="fb" placeholder="Facebook URL" value="{{p.fb}}"> -->
					<input type="url" name="fb" placeholder="Facebook URL" value="{{p.fb}}">
					<input type="url" name="hacker" placeholder="Hackerrank URL" value="{{p.hacker}}">
					<input type="url" name="git" placeholder="Github URL" value="{{p.git}}">
					{% comment %} <input type="text" name="cname" placeholder="College Name" value="{{p.college_name}}">
					{% endcomment %}
					<input type="text" name="resume" placeholder="Resume Link" value="{{p.resume}}">
					<input type="text" name="portfolio" placeholder="Portfolio Link" value="{{p.portfolio}}">

					<select name="cbranch">
						<option value="{{p.college_branch}}">Select Branch</option>
						<option value="CSE">CSE</option>
						<option value="IT">IT</option>
						<option value="ME">ME</option>
						<option value="CE">CE</option>
						<option value="EE">EE</option>
						<option value="EC">EC</option>
						<option value="BT">BT</option>
						<option value="AG">AG</option>



					</select>
					<select name="cyear">
						<option value="{{p.college_year}}">Select year</option>
						<option value="1st">1st</option>
						<option value="2nd">2nd</option>
						<option value="3rd">3rd</option>
						<option value="4th">4th</option>
					</select>
					<!-- <input type="url" name="cyear" placeholder="Github URL" value="{{p.college_year}}"> -->
					<textarea name="bio" placeholder="Bio">{{p.bio}}</textarea>
					<input type="submit" name="submit" value="Save"
						style="background-color: tomato;border: none;padding: 0px 12px;height: 35px;border-radius: 2px;">

				</form>
			</div>
		</div>

		<!--  -->
	</div>

	<!-- <hr style="color: rgb(0,0,0,0.1);margin-top: 10px;opacity: 0.2;z-index: -2;"> -->
	<h1 style="margin-top: 30px;">Skills</h1>
	<div class="parent-two">
		<div class="child1">
			{% for i in a %}
			<div style="margin-bottom: 14px;">
				<p style="font-size: 18px;"><b>{{i.name}}<span style="font-size: 15px;"> {{i.emoji}} </span></b></p>
				<span style="font-size: 14px;color: grey;">{{i.level}}</span>
			</div>
			{% endfor %}
		</div>
		<div class="child2">
			{% for i in b %}
			<div style="margin-bottom: 14px;">
				<p style="font-size: 18px;"><b>{{i.name}}<span style="font-size: 15px;"> {{i.emoji}} </span></b></p>
				<span style="font-size: 14px;color: grey;">{{i.level}}</span>
			</div>
			{% endfor %}
		</div>

		<!-- Skill Edit Dynamic -->
		<a href="{% url 'skills' %}" id="edit" style="padding-bottom: 12px;color: #000;"><i class="far fa-edit"></i></a>
		<!--  -->
	</div>


	<h1 style="margin-top: 30px;margin-bottom: 6px;">Certifications</h1>
	<div class="parent-two">
		<div class="child1">
			{% for c in x %}
			<div style="margin-bottom: 14px;">
				<p style="font-size: 18px;"><b>{{c.name}} 🏅</b></p>
				<span style="font-size: 14px;color: grey;">{{c.organisation}} on {{c.month_name}} {{c.year}}</span><br>
				<a href="{{c.url}}" style="font-size: 13px;">See Certificate</a>
				<p style="width: ;height: ;">

			</div>
			{% endfor %}
		</div>

		<div class="child2">
			{% for c in y %}
			<div style="margin-bottom: 14px;">
				<p style="font-size: 18px;"><b>{{c.name}} 🏅</b></p>
				<span style="font-size: 14px;color: grey;">{{c.organisation}} on {{c.month_name}} {{c.year}}</span><br>
				<a href="{{c.url}}" style="font-size: 13px;">See Certificate</a>
				<p style="width: ;height: ;">

			</div>
			{% endfor %}
		</div>

		<a href="{% url 'certifications' %}" id="edit" style="padding-bottom: 12px;color: #000;"><i
				class="far fa-edit"></i></a>

	</div>

	
	<h1 style="margin-top: 30px;margin-bottom: 6px;">Resume</h1>
	<div class="resume">
		<div style="float: left;">
			<span> <a href="{{p.resume}}">Resume Link</a></span>
			<span><a href="{{p.portfolio}}">Portfolio</a></span>
		</div>

	</div>
</div>
<script type="text/javascript">
	var modal = document.querySelector(".modal");
	var trigger = document.querySelector(".trigger");
	var closeButton = document.querySelector(".close-button");

	function toggleModal() {
		modal.classList.toggle("show-modal");
	}

	function windowOnClick(event) {
		if (event.target === modal) {
			toggleModal();
		}
	}

	trigger.addEventListener("click", toggleModal);
	closeButton.addEventListener("click", toggleModal);
	window.addEventListener("click", windowOnClick);
</script>

{% endblock %}