{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'job-detail.css' %}" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>PlaceUp | Work Details</title>
    <style>
      nav {
        /* margin: 0 20px; */
        padding: 18px 20px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: auto;
        display: inline-flex;
        justify-content: space-between;
      }

      nav .right a {
        font-weight: 550;
        font-size: 18px;
        text-decoration: none;
        margin-right: 20px;
        /* margin-top: 90px; */
      }
    </style>
  </head>

  <body>
    <nav>
      <div class="left">
        <h2>PlaceUp</h2>
      </div>
      <div class="right" style="margin-top: 5px">
        <a href="{% url 'jobs' %}"><i class="fas fa-arrow-left"></i></a>
      </div>
    </nav>

    <div class="section_job">
      <div class="info">
        <div class="left">
          <h1>{{data.work_name}}</h1>
          <h3>{{data.company.username.first_name}}</h3>
        </div>
        <div>
          <img
            src="{% static '../media/images/' %}{{data.company.company_logo}}"
            alt=""
          />
        </div>
      </div>

      <div class="info_one">
        <p>
          <i class="fas fa-map-marker-alt"></i
          >&nbsp;&nbsp;&nbsp;&nbsp;{{data.location}}
        </p>
        <p>
          <i class="fas fa-money-bill"></i
          >&nbsp;&nbsp;{{data.salary_or_stipend}}
        </p>
        <p>
          <i class="fas fa-calendar-week"></i>&nbsp;&nbsp;&nbsp;
          {{data.experience_or_time }}
        </p>
      </div>
      <button class="btn">Internship</button>
      <div class="info_two">
        <p class="light">
          <i class="far fa-user-circle"></i>
          &nbsp;&nbsp;{{data.applicants.count}} applicants
        </p>
      </div>
      <hr class="line" />

      <!-- Company INfo -->
      <div class="info_three">
        <h4>About {{data.company.username.first_name}}</h4>
        <a href="//{{data.company.company_site}}">Website</a>
        <p class="light">{{data.company.about_company}}</p>
      </div>

      <!-- Work Info -->
      <div class="info_three">
        <h4>About Internship</h4>
        <!-- <a href="">Website</a> -->
        <p class="light">
          Selected intern's day-to-day responsibilities include:
        </p>
        <!-- ckeditor content dyanamic content -->
        <ul class="light">
          {{data.about | safe}}
        </ul>
      </div>

      <!-- Work Info -->
      <div class="info_three">
        <h4>Who can apply</h4>
        <!-- <a href="">Website</a> -->
        <p class="light">Only those candidates can apply who:</p>
        <!-- ckeditor content dyanamic content -->
        <ul class="light">
          {{data.min_requirement | safe}}
        </ul>
      </div>

      <!-- Tech Stack needed -->
      <div class="info_three">
        <h4>Tech Stack Needed</h4>
        <!-- <a href="">Website</a> -->
        <p class="light">{{data.tech_stack}}</p>
        <!-- ckeditor content dyanamic content -->
      </div>

      <!-- Salary -->
      <div class="info_three">
        <h4>Perks</h4>
        <!-- <a href="">Website</a> -->
        <p class="light">Certificate and Letter of recommendation</p>
        <!-- ckeditor content dyanamic content -->
      </div>

      <!-- Vacancy -->
      <div class="info_three">
        <h4>Number of Openings</h4>
        <!-- <a href="">Website</a> -->
        <p class="light">{{data.number_of_vacancy}}</p>
        <!-- ckeditor content dyanamic content -->
      </div>
      <div style="text-align: center">
        <form action="{% url 'apply_job' id=data.id %}" method="POST">
          {% csrf_token %}
          <button class="apply">Apply Now</button>
        </form>
      </div>

    </div>
    <script>
      const alert = document.querySelector(".alert_card");
      const btn_alert = document.querySelector(".btn_alert");

      const fire = () => {
        alert.style.display = "none";
      };
    </script>
  </body>
</html>
