{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'job-admin.css' %}" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>PlaceUp | Job View</title>
  </head>
  <style></style>

  <body>
    <nav>
      <div class="left">
        <h2>PlaceUp</h2>
      </div>
      <div class="right">
        <a href="{% url 'JobHire' %}"><i class="fas fa-arrow-left"></i></a>

        <a href="{% url 'orgprofile' %}" class="app"
          ><i class="fas fa-home"></i
        ></a>
        <a href="{% url 'orglogout' %}"> <i class="fas fa-lock"></i></a>
      </div>
    </nav>
    <div class="container">
      <!-- <div class="job"></div> -->

      <!-- Applicants -->
      <h2 style="margin: 20px 0px">Applicants</h2>
      <div class="section_table">
        <!-- <h2 style="margin-bottom: 15px;">Job List</h2> -->
        <table>
          <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Resume</th>
            <th>Portfolio</th>
            <th>Select Resume</th>
          </tr>
          {% for val in applicants %}
          <tr>
            <td>{{val.username.first_name}} {{val.username.last_name}}</td>
            <td>{{val.college_year}}</td>

            <td>
              <a href="//{{val.resume}}" target="_"
                >Click <i class="fas fa-external-link-alt"></i
              ></a>
            </td>
            <td>
              <a href="//{{val.portfolio}}" target="_"
                >Click <i class="fas fa-external-link-alt"></i
              ></a>
            </td>
            <td>
              <a href="{% url 'select_resume' id1=val.username.id work=id %}"
                >Select
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <!-- Resume Selected -->
      <h2 style="margin: 20px 0px">Resume Selected Candidates</h2>
      <div class="section_table">
        <!-- <h2 style="margin-bottom: 15px;">Job List</h2> -->
        <table>
          <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Resume</th>
            <th>Portfolio</th>
            <th>Hire Candidate</th>
          </tr>
          {% for val in resume_selected %}
          <tr>
            <td>{{val.username.first_name}} {{val.username.last_name}}</td>
            <td>{{val.college_year}}</td>

            <td>
              <a href="//{{val.resume}}" target="_"
                >Click <i class="fas fa-external-link-alt"></i
              ></a>
            </td>
            <td>
              <a href="//{{val.portfolio}}" target="_"
                >Click <i class="fas fa-external-link-alt"></i
              ></a>
            </td>
            <td>
              <a href="{% url 'select_hired' id1=val.username.id work=id %}"
                >Select
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <!-- Hired Candidates -->
      <h2 style="margin: 20px 0px">Hired Candidates</h2>
      <div class="section_table">
        <!-- <h2 style="margin-bottom: 15px;">Job List</h2> -->
        <table>
          <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Resume</th>
            <th>Portfolio</th>
            <th>Send Confirmation</th>
          </tr>
          {% for val in hired %}
          <tr>
            <td>{{val.username.first_name}} {{val.username.last_name}}</td>
            <td>{{val.college_year}}</td>

            <td>
              <a href="//{{val.resume}}" target="_"
                >Click <i class="fas fa-external-link-alt"></i
              ></a>
            </td>
            <td>
              <a href="//{{val.portfolio}}" target="_"
                >Click <i class="fas fa-external-link-alt"></i
              ></a>
            </td>
            <td>
              <a href="{% url 'select_hired' id1=val.username.id work=id %}"
                >Select
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
