{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'jobs-intern.css' %}" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>PlaceUp | Works</title>
  </head>
  <body>
    <nav class="nav_head">
      <div class="left">
        <h2>PlaceUp</h2> 
      </div>
      <div class="right" style="margin-top: 5px;">
        <a href="{% url 'dashboard' %}" class="app"><i class="fas fa-home"></i></a>

        <a href="{% url 'myapplications' %}" class="app"><i class="fas fa-location-arrow"></i></a>
        <a href="{% url 'logout' %}" class="app"><i class="fas fa-lock"></i></a>
      </div>
    </nav>
    <!-- Internships Goes here -->

    <h2 class="cardContainer" style="margin: 25px">Recent Works</h2>
    <div class="cardContainer">
      {% for val in data %}
      <div class="card">
        <span >#{{val.Type}}</span>
        <div class="info">
          <div>
            <h2>{{val.work_name}}</h2>
            <p class="cname">{{val.company.username.first_name}}</p>
          </div>
          <div>
            <img
            src="{% static '../media/images/' %}{{val.company.company_logo}}"
              alt=""
            />
          </div>
        </div>
        <div class="info_more">
          <p>
            <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{val.location}}
          </p>
          <p><i class="fas fa-money-bill"></i>&nbsp;&nbsp;{{val.salary_or_stipend}}</p>
          <p><i class="fas fa-calendar-week"></i>&nbsp;&nbsp;&nbsp; {{val.experience_or_time}}</p>
        </div>
        <div class="apply">
          <a href="{% url 'job_detail' id=val.id %}">View Details &rarr;</a>
        </div>
      </div>
      {% endfor %}


    </div>



  </body>
</html>
