{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'jobs-intern.css' %}" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>PlaceUp | Works</title>
  </head>
  <body>
    <nav>
      <div class="left">
        <h2>PlaceUp</h2>
      </div>
      <div class="right"></div>
    </nav>
    <!-- Internships Goes here -->

    <h2 class="cardContainer" style="margin: 25px">Recent Internships</h2>
    <div class="cardContainer">
      <div class="card">
        <div class="info">
          <div>
            <h2>Junior Full Stack Developer</h2>
            <p class="cname">Binary Numbers</p>
          </div>
          <div>
            <img
              src="{% static '../media/images/company_logo/c1.png' %}"
              alt=""
            />
          </div>
        </div>
        <div class="info_more">
          <p>
            <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Work
            From Home
          </p>
          <p><i class="fas fa-money-bill"></i>&nbsp;&nbsp;1000 /month</p>
          <p><i class="fas fa-calendar-week"></i>&nbsp;&nbsp;&nbsp; 2 months</p>
        </div>
        <div class="apply">
          <a href="">View Details &rarr;</a>
        </div>
      </div>

      <div class="card">
        <div class="info">
          <div>
            <h2>Junior Full Stack Developer</h2>
            <p class="cname">Binary Numbers</p>
          </div>
          <div>
            <img
              src="{% static '../media/images/company_logo/c1.png' %}"
              alt=""
            />
          </div>
        </div>
        <div class="info_more">
          <p>
            <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Work
            From Home
          </p>
          <p><i class="fas fa-money-bill"></i>&nbsp;&nbsp;1000 /month</p>
          <p><i class="fas fa-calendar-week"></i>&nbsp;&nbsp;&nbsp; 2 months</p>
        </div>
        <div class="apply">
          <a href="">View Details &rarr;</a>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <div>
            <h2>Junior Full Stack Developer</h2>
            <p class="cname">Binary Numbers</p>
          </div>
          <div>
            <img
              src="{% static '../media/images/company_logo/c1.png' %}"
              alt=""
            />
          </div>
        </div>
        <div class="info_more">
          <p>
            <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Work
            From Home
          </p>
          <p><i class="fas fa-money-bill"></i>&nbsp;&nbsp;1000 /month</p>
          <p><i class="fas fa-calendar-week"></i>&nbsp;&nbsp;&nbsp; 2 months</p>
        </div>
        <div class="apply">
          <a href="">View Details &rarr;</a>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <div>
            <h2>Junior Full Stack Developer</h2>
            <p class="cname">Binary Numbers</p>
          </div>
          <div>
            <img
              src="{% static '../media/images/company_logo/c1.png' %}"
              alt=""
            />
          </div>
        </div>
        <div class="info_more">
          <p>
            <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Work
            From Home
          </p>
          <p><i class="fas fa-money-bill"></i>&nbsp;&nbsp;1000 /month</p>
          <p><i class="fas fa-calendar-week"></i>&nbsp;&nbsp;&nbsp; 2 months</p>
        </div>
        <div class="apply">
          <a href="">View Details &rarr;</a>
        </div>
      </div>
    </div>


    <!-- Jobs Goes here -->
    <h2 class="cardContainer" style="margin: 25px">Recent Jobs</h2>
    <div class="cardContainer">
      <div class="card">
        <div class="info">
          <div>
            <h2>Junior Full Stack Developer</h2>
            <p class="cname">Binary Numbers</p>
          </div>
          <div>
            <img
              src="{% static '../media/images/company_logo/c1.png' %}"
              alt=""
            />
          </div>
        </div>
        <div class="info_more">
          <p>
            <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Delhi, India
          </p>
          <p><i class="fas fa-money-bill"></i>&nbsp;&nbsp;3-4 LPA</p>
          <p><i class="fas fa-calendar-week"></i>&nbsp;&nbsp;&nbsp; 0-1 years</p>
        </div>
        <div class="apply">
          <a href="">View Details &rarr;</a>
        </div>
      </div>
    </div>
  </body>
</html>
